<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/home.css">
    
    <title>Nutrition Assistant</title>
</head>
<body>
    
        <header>  
            <nav>  
                <ul>  
                    <li>  <a href="home"> Home </a>  </li>  
                    <li>  <a href="history"> History </a>  </li>     
                    <li>  <a href="activity"> Activity </a>  </li>     
                    <li>  <a href="about"> About </a>  </li>     
                </ul> 
                <a href="logout" style="margin-left: 900px;"> logout </a> 
            </nav>  
        </header>

        <h1> Healthy food is our primary concern </h1>
        <p>
             <ol>
                <li>Upload your food image and submit</li>
                <li>Optionaly, You can describe your food for better understanding</li>
                <li>Result will be displayed after successfully processing your input</li>
                <li>You can view your history</li>
                <li>You can access your activity statistics</li>
             </ol>
        </p>
        
</body>
</html>