<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link rel="stylesheet" type="text/css" href="../static/activity.css">
    
    <title>Nutrition Assistant</title>
</head>
<body>
        <header>  
            <nav>  
                <ul>  
                    <li>  <a href="home"> Home </a>  </li>  
                    <li>  <a href="history"> History </a>  </li>     
                    <li>  <a href="activity"> Activity </a>  </li>     
                    <li>  <a href="about"> About </a>  </li>     
                </ul>  
                <a href="logout" style="margin-left: 900px;"> logout </a>
            </nav>  
        </header>
        <center> <h1>Activities</h1> </center>
        <div class="activity grid-container" style="background-color: #2196F3;">
            <div> User </div> <div> {{ username }} </div>     
            <div> Number of Searches </div> <div>  {{ count }} </div>     
            <div>  Lastime used     </div> <div>  {{ date }} </div>   
            <div> Status         </div> <div>      Active user </div>  
            <div> Registerd   </div> <div>     1 day ago  </div>
        </div>
        
</body>
</html>